---
layout: default
---
<div class="container">

  <section class="intro">
    <h1>Adventure Journal</h1>
    <p>Photos, stories, and stunts by yours truly since 2008.</p>
  </section>


  {% for adventure in site.adventures %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
    <div class="row">
      <div class="six columns">
        <div class="adventure">
          <a href="{{ adventure.url }}">
            <h3>{{ adventure.title }}</h3>
            <img class="u-max-full-width" src="{{ adventure.img }}">
          </a>
        </div>
      </div>
      {% else %}
      <div class="six columns">
        <div class="adventure">
          <a href="{{ adventure.url }}">
            <h3>{{ adventure.title }}</h3>
            <img class="u-max-full-width" src="{{ adventure.img }}">
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>

</div>
